# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/
*.xcodeproj/
*.xcuserstate
DerivedData/
build/

# Swift Package Manager
.Package.resolved
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/Pluginfile
fastlane/Pluginfile.lock

# DS_Store
.DS_Store

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Local History for Visual Studio
.history/

# IDE
.idea/
.vscode/

# Environment
.env
.env.local
.env.*.local
